<!DOCTYPE html>
<html lang="en" ng-app="chatApplication"  style="background-color: #000000;">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css">

</head>
<body ng-controller="messagePush">

<div class="menu">
    <div class="back"><i class="fa fa-chevron-left"></i> <img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
    <div class="name">Chat</div>
    <div class="" style="float: right !important;" id="typing"></div>
    <div class="last">18:09</div>
</div>
<ol class="chat"  style="background-color: #000000;">

    <li ng-repeat="item in chatPanelMessages" ng-class="isMe(item.username) ? 'self' : 'other'">
        <div class="msg">
            <span><b>{{item.username}}</b></span>
            <p style="font-size: 30px !important;">{{item.message}}</p>
            <time>{{dateFormat(item.date)}}</time>
        </div>
    </li>
</ol>
<input class="textarea input-lg"  id="btn-input" type="text" placeholder="Birşeyler yaz...!" ng-keypress="textAreaSendKeypressFunction($event)" autofocus ng-model="message" />
<div class="emojis">
    <span id="toggleEmojiDiv" ng-click="toggleEmojiIsShow = !toggleEmojiIsShow" ng-mouseover="toggleEmojiIsShow=true">😁</span>
    <div  ng-class="toggleEmojiIsShow ? 'emojiDiv' : 'emojiDiv emojiDivHide'" ng-mouseout="toggleEmojiIsShow=false" ng-mouseover="toggleEmojiIsShow=true">
        <ul>
            <li ng-click="emojiClickFunc('😁')">😁</li>
            <li ng-click="emojiClickFunc('😂')">😂</li>
            <li ng-click="emojiClickFunc('😃')">😃</li>
            <li ng-click="emojiClickFunc('😄')">😄</li>
            <li ng-click="emojiClickFunc('😅')">😅</li>
            <li ng-click="emojiClickFunc('😆')">😆</li>
            <li ng-click="emojiClickFunc('😉')">😉</li>
            <li ng-click="emojiClickFunc('😊')">😊</li>
            <li ng-click="emojiClickFunc('😋')">😋</li>
            <li ng-click="emojiClickFunc('😌')">😌</li>
            <li ng-click="emojiClickFunc('😍')">😍</li>
            <li ng-click="emojiClickFunc('😏')">😏</li>
            <li ng-click="emojiClickFunc('😒')">😒</li>
            <li ng-click="emojiClickFunc('😓')">😓</li>
            <li ng-click="emojiClickFunc('😔')">😔</li>
            <li ng-click="emojiClickFunc('😖')">😖</li>
            <li ng-click="emojiClickFunc('😘')">😘</li>
            <li ng-click="emojiClickFunc('😚')">😚</li>
            <li ng-click="emojiClickFunc('😜')">😜</li>
            <li ng-click="emojiClickFunc('😝')">😝</li>
            <li ng-click="emojiClickFunc('😞')">😞</li>
            <li ng-click="emojiClickFunc('😠')">😠</li>
            <li ng-click="emojiClickFunc('😡')">😡</li>
            <li ng-click="emojiClickFunc('😢')">😢</li>
            <li ng-click="emojiClickFunc('😣')">😣</li>
            <li ng-click="emojiClickFunc('😤')">😤</li>
            <li ng-click="emojiClickFunc('😥')">😥</li>
            <li ng-click="emojiClickFunc('😨')">😨</li>
            <li ng-click="emojiClickFunc('😩')">😩</li>
            <li ng-click="emojiClickFunc('😪')">😪</li>
            <li ng-click="emojiClickFunc('😫')">😫</li>
            <li ng-click="emojiClickFunc('😭')">😭</li>
            <li ng-click="emojiClickFunc('😰')">😰</li>
            <li ng-click="emojiClickFunc('😱')">😱</li>
            <li ng-click="emojiClickFunc('😲')">😲</li>
            <li ng-click="emojiClickFunc('😳')">😳</li>
            <li ng-click="emojiClickFunc('😵')">😵</li>
            <li ng-click="emojiClickFunc('😷')">😷</li>
            <li ng-click="emojiClickFunc('😸')">😸</li>
            <li ng-click="emojiClickFunc('😹')">😹</li>
            <li ng-click="emojiClickFunc('😺')">😺</li>
            <li ng-click="emojiClickFunc('😻')">😻</li>
            <li ng-click="emojiClickFunc('😼')">😼</li>
            <li ng-click="emojiClickFunc('😽')">😽</li>
            <li ng-click="emojiClickFunc('😾')">😾</li>
            <li ng-click="emojiClickFunc('😿')">😿</li>
            <li ng-click="emojiClickFunc('🙀')">🙀</li>
            <li ng-click="emojiClickFunc('🙅')">🙅</li>
            <li ng-click="emojiClickFunc('🙆')">🙆</li>
            <li ng-click="emojiClickFunc('🙇')">🙇</li>
            <li ng-click="emojiClickFunc('🙈')">🙈</li>
            <li ng-click="emojiClickFunc('🙉')">🙉</li>
            <li ng-click="emojiClickFunc('🙊')">🙊</li>
            <li ng-click="emojiClickFunc('🙋')">🙋</li>
            <li ng-click="emojiClickFunc('🙌')">🙌</li>
            <li ng-click="emojiClickFunc('🙍')">🙍</li>
            <li ng-click="emojiClickFunc('🙎')">🙎</li>
            <li ng-click="emojiClickFunc('🙏')">🙏</li>
        </ul>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="assets/angular.min.js" ></script>
<script src="assets/socket.io.js" ></script>
<script src="assets/angular-socket-io-master/socket.js" ></script>
<script src="app.js" ></script>  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</body>
</html>